{% load static %}

<div class="profile">
    <h1>Perfil do Usuário</h1>
    <div class="profile-info">
        <img src="{{ usuario.profile_image.url }}" alt="Imagem de Perfil" class="profile-image">
        <div class="user-info">
            <h2>{{ usuario.username }}</h2>
            <p>Time Favorito: {{ usuario.favorite_team.Nome }}</p>
            <p>Média de Pontos Pepe: {{ average_points_pepe|floatformat:2 }}</p>
            <p>Jogos Palpitados: {{ total_predictions }}</p>
            <p>% de Acerto do Resultado: {{ accuracy_result|floatformat:2 }}%</p>
            <p>% de Acerto dos Gols do Mandante: {{ accuracy_goals_mandante|floatformat:2 }}%</p>
            <p>% de Acerto dos Gols do Visitante: {{ accuracy_goals_visitante|floatformat:2 }}%</p>
            <p>% de Cravadas: {{ accuracy_total|floatformat:2 }}%</p>
        </div>
    </div>
</div>
{% if tem_medalha %}
    <hr width="80%">
    <div class="medalhas">
        <img src="{% static 'icons/podium.svg' %}" alt="pódio" class="podio">
        {% for medalha in medalhas %}
            <a href="{% url 'edicao' campeonato=medalha.edicao_campeonato.campeonato.id edicao=medalha.edicao_campeonato.num_edicao %}">
                {% if medalha.nivel == 1 %}
                    <img src="{% static 'icons/medal-gold.svg' %}" alt="ouro"  title="Campeão - {{ medalha.edicao_campeonato }}">
                {% elif medalha.nivel == 2 %}
                    <img src="{% static 'icons/medal-silver.svg' %}" alt="prata"  title="Vice - {{ medalha.edicao_campeonato }}">
                {% elif medalha.nivel == 3 %}
                    <img src="{% static 'icons/medal-bronze.svg' %}" alt="bronze"  title="3ª lugar - {{ medalha.edicao_campeonato }}">
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}
{% if total_predictions > 0 %}
    <hr width="80%">
    <h1>Ranking Média por clube</h1>
    <center>
        <select name="edicaoCampeonato" id="edicaoCampeonato" class="select" onchange="mudarCampeonato()">
            {% for edicao in edicoes %}
                <option value="{{edicao.id}}">{{ edicao }}</option>
            {% endfor %}
            <option value="0">Todos</option>
        </select>
    </center>
    <table class="aproveitamento">
        {% if media != None %}
            <thead>
                <tr>
                    <th>Time</th>
                    <th>% Pepe</th>
                    <th>Média Dif. Gols</th>
                    <th>Número de Jogos Palpitados</th>
                </tr>
            </thead>
            <tbody>
                {% for imagem,ids,pontosP,difGols,numJogos in media %}
                    <tr>
                        <td><a href="{% url 'show_team' id=ids %}">
                            <img src="../{{ imagem }}" alt="escudo" class="escudo">
                        </a></td>
                        <td>{{ pontosP|floatformat:2 }}</td>
                        <td>{{ difGols|floatformat:2 }}</td>
                        <td>{{ numJogos }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endif %}
