{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/campeonato.css' %}?v=1.0">
{% endblock %}

{% block bodyPC %}
    <h1>Edições do {{ title }}</h1>
    {% for edicao in edicoes %}
        <a href="{% url 'edicao' campeonato=edicao.campeonato.id edicao=edicao.num_edicao %}">{{ edicao }}</a><br>
    {% endfor %}
{% endblock %}

{% block bodyMobile %}
    <h1>Edições do {{ title }}</h1>
    {% for edicao in edicoes %}
        <a href="{% url 'edicao' campeonato=edicao.campeonato.id edicao=edicao.num_edicao %}">{{ edicao }}</a><br>
    {% endfor %}
{% endblock %}