{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/att_partida.css' %}?v=1.0">
    <script type="text/javascript" src="{% static 'scripts/att_partida.js' %}?v=1.0"></script>
{% endblock %}

{% block bodyPC %}
    {% if message %}
        <h3>{{ message | safe }}</h3>
    {% endif %}
    <div class="partidas">
        {% if partidas|length > 0 %}
            <h1>Lista de Partidas</h1>
            <form id="att_partida">
                {% csrf_token %}
                <label for="partida">Partida que deseja atualizar:</label><br>
                <select id="partida" name="partida">
                    {% for partida in partidas %}
                        <option value="{{ partida.id }}">{{ partida }}</option>
                        {% empty %}
                        <option value="">Nenhuma Partida Registrada</option>
                    {% endfor %}
                </select><br><br>
                <label for="gMan">Gols do Time Mandante:</label><br>
                <input type="number" id="gMan" name="gMan" min="0"><br><br>
                <label for="gVis">Gols do Time Visitante:</label><br>
                <input type="number" id="gVis" name="gVis" min="0"><br><br>
                <label for="data">Data do Jogo:</label><br>
                <input type="datetime-local" name="data" id="data"><br><br>
                <input type="submit" value="Atualizar">
            </form>
        {% else %}
            Não existem partidas a serem atualizadas
        {% endif %}
    </div>
{% endblock %}

{% block bodyMobile %}
    {% if message %}
        <h3>{{ message | safe }}</h3>
    {% endif %}
    <div class="partidas">
        {% if partidas|length > 0 %}
            <h1>Lista de Partidas</h1>
            <form id="att_partida">
                {% csrf_token %}
                <label for="partida">Partida que deseja atualizar:</label><br>
                <select id="partida" name="partida">
                    {% for partida in partidas %}
                        <option value="{{ partida.id }}">{{ partida }}</option>
                        {% empty %}
                        <option value="">Nenhuma Partida Registrada</option>
                    {% endfor %}
                </select><br><br>
                <label for="gMan">Gols do Time Mandante:</label><br>
                <input type="number" name="gMan" min="0"><br><br>
                <label for="gVis">Gols do Time Visitante:</label><br>
                <input type="number" name="gVis" min="0"><br><br>
                <label for="data">Data do Jogo:</label><br>
                <input type="datetime-local" name="data" id="data"><br><br>
                <input type="submit" value="Atualizar">
            </form>
        {% else %}
            Não existem partidas a serem atualizadas
        {% endif %}
    </div>
{% endblock %}