{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/att_partida.css' %}?v=1.0">
    <script type="text/javascript" src="{% static 'scripts/buscarTimeCampeonato.js' %}?v=1.0"></script>
{% endblock %}

{% block bodyPC %}
    {% include "futebol_manager/blocos_auxiliares/auxiliar_partida_registro.html" %}
{% endblock %}

{% block bodyMobile %}
    {% include "futebol_manager/blocos_auxiliares/auxiliar_partida_registro.html" %}
{% endblock %}