{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    Registrar por Json
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/registrarJson.css' %}?v=1.0">
    <script type="text/javascript" src="{% static 'scripts/registrarJson.js' %}?v=1.0"></script>
{% endblock %}

{% block bodyPC %}
    {% csrf_token %}        
    <input type="file" id="fileInput" accept=".json"><br><br>
    <button type="button" id="loadFile" onclick="loadFile()">Carregar Arquivo</button><br><br>
    <div id="fileContent" class="partidas" contenteditable="true"></div><br><br>
    <button type="button" id="registrar" onclick="registrar()">Registrar</button>
{% endblock %}

{% block bodyMobile %}
    {% csrf_token %}        
    <input type="file" id="fileInput" accept=".json"><br><br>
    <button type="button" id="loadFile" onclick="loadFile()">Carregar Arquivo</button><br><br>
    <div id="fileContent" class="partidas" contenteditable="true"></div><br><br>
    <button type="button" id="registrar" onclick="registrar()">Registrar</button>
{% endblock %}