{% extends "palpites/layout.html" %}
{% load static %}
{% load user_agents %}

{% block title %}
    {{ rodada }}
{% endblock %}

{% block style %}
    {% if request|is_pc %}
        <link rel="stylesheet" href="{% static 'styles/rodada_pc.css' %}?v=1.0">
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/rodada_mobile.css' %}?v=1.0">
    {% endif %}
{% endblock %}

{% block bodyPC %}
    {% include "futebol_manager/blocos_auxiliares/auxiliar_rodada_partidas.html" %}
{% endblock %}

{% block bodyMobile %}
    {% include "futebol_manager/blocos_auxiliares/auxiliar_rodada_partidas.html" %}
{% endblock %}