.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
}
.formulario .jogos {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1em;
}
@media (max-width: 1000px) {
  .formulario .jogos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.formulario .jogos .texto {
  grid-column: 1/7;
}
.formulario .jogos .rodada {
  font-size: 1em;
}
@media (max-width: 1000px) {
  .formulario .jogos .rodada {
    display: none;
  }
}
.formulario .jogos .escudo {
  width: 2em;
}
.formulario span input[type=number] {
  color: var(--fc);
  background-color: var(--bg);
  height: 100%;
  font-size: 2em;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid var(--border);
}
.formulario input[type=submit] {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--bg);
  color: var(--fc);
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.formulario input[type=submit]:hover {
  background-color: var(--hover);
}
