.container {
  position: relative;
}

.nomeCampeonato {
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.nomeCampeonato select {
  width: 7em;
  border-width: 2px;
  border-style: outset;
  border-color: var(--border);
  padding: 4px;
  margin: auto 0;
  color: var(--fc);
  background-color: var(--bg);
}

.seletorDiv {
  height: 2em;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--border);
}
.seletorDiv input[type=radio] {
  display: none;
}
.seletorDiv input[type=radio] + label {
  background-color: var(--bg);
  color: var(--fc);
  font-size: 1em;
  padding: 0.2em 0.8em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.seletorDiv input[type=radio]:checked + label {
  background-color: var(--selecionado);
  color: var(--bg);
  cursor: pointer;
}

#destaque .palpitarClassificacao {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#destaque .palpitarClassificacao a {
  color: #000000;
  background-color: #99ff33;
  border-width: 2px;
  border-style: outset;
  border-color: #333333;
  text-decoration: none;
  padding: 8px;
}
#destaque .podium {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-template-areas: "nome nome nome" "imagem2 imagem1 imagem3" "imagem2 primeiro imagem3" "segundo primeiro imagem3" "segundo primeiro terceiro";
}
#destaque .podium .tituloPodio {
  grid-area: nome;
  text-align: center;
}
#destaque .podium .imagem1 {
  grid-area: imagem1;
  bottom: 0;
  position: relative;
  align-self: end;
  margin: auto;
  margin-bottom: 1em;
}
#destaque .podium .imagem2 {
  grid-area: imagem2;
  bottom: 0;
  position: relative;
  align-self: end;
  margin: auto;
  margin-bottom: 1em;
}
#destaque .podium .imagem3 {
  grid-area: imagem3;
  bottom: 0;
  position: relative;
  align-self: end;
  margin: auto;
  margin-bottom: 1em;
}
#destaque .podium img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#destaque .podium .first-place {
  grid-area: primeiro;
  background-color: gold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#destaque .podium .second-place {
  grid-area: segundo;
  background-color: silver;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#destaque .podium .third-place {
  grid-area: terceiro;
  background-color: #cd7f32;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#classificacao {
  display: none;
  margin: 0 2.5%;
  width: 95%;
}
#classificacao .filtro {
  margin: 2% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#classificacao .filtro input[type=radio] {
  display: none;
}
#classificacao .filtro input[type=radio] + label {
  background-color: var(--bg);
  color: var(--fc);
  font-size: 1em;
  margin: 0 0.5em;
  padding: 0.2em 0.8em;
  border-width: 2px;
  border-style: outset;
  border-color: var(--border);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#classificacao .filtro input[type=radio]:checked + label {
  background-color: var(--fc);
  color: var(--bg);
  border-color: var(--bg);
  cursor: pointer;
}
#classificacao .filtro .selecao {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#classificacao .filtro .rodadas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 1em;
}
#classificacao .filtro .rodadas select {
  width: 100%;
  border-width: 2px;
  border-style: outset;
  border-color: var(--border);
  padding: 5px;
  margin: auto 0;
  color: var(--fc);
  background-color: var(--bg);
}
#classificacao .tabelaClassificacao {
  width: 100%;
  border-collapse: collapse;
}
#classificacao .tabelaClassificacao .nome {
  text-align: left;
}
#classificacao .tabelaClassificacao th, #classificacao .tabelaClassificacao td {
  padding: 8px;
  text-align: center;
}
#classificacao .tabelaClassificacao th {
  border-bottom: 1px solid var(--border);
  font-size: 2em;
}
#classificacao .tabelaClassificacao td:nth-child(1), #classificacao .tabelaClassificacao th:nth-child(1) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(2), #classificacao .tabelaClassificacao th:nth-child(2) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(3), #classificacao .tabelaClassificacao th:nth-child(3) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(4), #classificacao .tabelaClassificacao th:nth-child(4) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(5), #classificacao .tabelaClassificacao th:nth-child(5) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(6), #classificacao .tabelaClassificacao th:nth-child(6) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(7), #classificacao .tabelaClassificacao th:nth-child(7) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao td:nth-child(8), #classificacao .tabelaClassificacao th:nth-child(8) {
  width: 12.5%;
}
#classificacao .tabelaClassificacao tr:nth-child(even) {
  background: var(--hover);
}

#ranking {
  display: none;
  margin: 0 1%;
  width: 98%;
  border-collapse: collapse;
  font-size: 0.8em;
}
#ranking th, #ranking td {
  padding: 8px;
  text-align: center;
}
#ranking th {
  border-bottom: 1px solid var(--border);
  font-size: 1.5em;
}
#ranking tr {
  height: 2em;
}
#ranking tr:nth-child(even) {
  background: var(--hover);
}
#ranking td span {
  width: 1.5em;
  height: 1.5em;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#ranking .ouro {
  background-color: gold;
}
#ranking .prata {
  background-color: silver;
}
#ranking .bronze {
  background-color: #CD7F32;
}
#ranking a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--fc);
  font-weight: bold;
}

#jogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}
#jogos .pagination {
  margin-bottom: 0.5em;
}
#jogos .pagination button {
  background-color: var(--bg);
  color: var(--fc);
  margin: 0 0.5em;
  padding: 0.2em 0.8em;
  border-width: 2px;
  border-style: outset;
  border-color: var(--border);
  cursor: pointer;
}
#jogos .pagination span {
  color: var(--fc);
}
#jogos .container-partidas {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0.5em;
  width: 100%;
}
#jogos .container-partidas .partida a {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  grid-template-columns: auto auto auto;
  color: inherit;
  border: 1px solid var(--border);
  border-radius: 1em;
  padding: 0.5em;
}
#jogos .container-partidas .partida a .escudo {
  width: 2em;
  margin: 0 auto;
}
#jogos .container-partidas .partida a .nomeCampeonato {
  grid-column-start: 1;
  grid-column-end: 4;
}
#jogos .container-partidas .partida a .texto {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  font-size: 1em;
}

#estatisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}
#estatisticas select {
  width: 100%;
  border-width: 2px;
  border-style: outset;
  border-color: var(--border);
  padding: 5px;
  margin: auto 0;
  color: var(--fc);
  background-color: var(--bg);
}
#estatisticas .ranking {
  margin: 0 1%;
  width: 98%;
  border-collapse: collapse;
  font-size: 0.8em;
}
#estatisticas .ranking th, #estatisticas .ranking td {
  padding: 8px;
  text-align: center;
}
#estatisticas .ranking th {
  border-bottom: 1px solid var(--border);
  font-size: 1.5em;
}
#estatisticas .ranking tr {
  height: 2em;
}
#estatisticas .ranking tr:nth-child(even) {
  background: var(--hover);
}
#estatisticas .ranking td span {
  width: 1.5em;
  height: 1.5em;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#estatisticas .ranking td .ouro {
  background-color: gold;
}
#estatisticas .ranking td .prata {
  background-color: silver;
}
#estatisticas .ranking td .bronze {
  background-color: #CD7F32;
}
#estatisticas .ranking td a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--fc);
  font-weight: bold;
}

#palpites {
  display: none;
  overflow-x: scroll;
  overflow-y: auto;
  sticky: 0;
}
#palpites .palpites {
  border-collapse: collapse;
}
#palpites .palpites th, #palpites .palpites td {
  padding: 8px;
  text-align: center;
}
#palpites .palpites th {
  border-bottom: 1px solid var(--border);
  font-size: 1.5em;
}
#palpites .palpites td .escudo {
  width: 2em;
}
#palpites .palpites tr {
  height: 2em;
}
#palpites .palpites tr:nth-child(even) {
  background: var(--hover);
}
#palpites .palpites .posicao {
  position: sticky;
  z-index: 2;
  left: 0;
  background: var(--bg);
}

/*# sourceMappingURL=campeonato_edicao_mobile.css.map */
