{% extends "palpites/layout.html" %}
{% load static %}
{% load user_agents %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{% static 'scripts/ranking.js' %}?v=1.0"></script>
    <script type="text/javascript" src="{% static 'scripts/jogos.js' %}?v=1.0"></script>
    <script>
        var isPc = "{{ request|is_pc }}"
        var nomesRodadas = ["Todas", {% for rodada in rodadas %}"{{ rodada.nome }}"{% if not forloop.last %},{% endif %}{% endfor %}];
    </script>
    {% if request|is_pc %}
        <link rel="stylesheet" href="{% static 'styles/home_pc.css' %}?v=1.1">
        <script type="text/javascript" src="{% static 'scripts/grafico.js' %}?v=1.0"></script>
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/home_mobile.css' %}?v=1.1">
    {% endif %}
{% endblock %}

{% block bodyPC %}
    <div class="home">
        {% include "palpites/blocos_auxiliares/auxiliar_home.html" %}
    </div>
    <div class="graficoContainer">
        <div class="seletores">
            <label for="usuario">Usuário: </label>
            <select name="usuario" id="usuario" class="select" onchange="mudarUsuario(value)">
                <option value="voce">
                    {% if user.is_authenticated %}
                        Você
                    {% else %}
                        Aleatório
                    {% endif %}
                </option>
                {% if user.is_authenticated %}
                <option value="grupo">Grupo</option>
                {% endif %}
                <option value="todos">Todos</option>
                <option value="selecionar">Selecionar</option>
            </select>
            <label for="campeonato">Campeonato: </label>
            <select name="campeonato" id="campeonato" onchange="mudarCampeonatoGrafico(value)">
                {% for edicao in edicoes %}
                    <option value="{{ edicao.id }}">{{ edicao }}</option>
                {% endfor %}
            </select>
            <label for="rodada_inicial">Rodada Inicial: </label>
            <select name="rodada_inicial" id="rodada_inicial" onchange="mudarRodadaInicial(value)">
                {% for rodada in rodadas %}
                    <option value="{{ rodada.num }}">{{ rodada.nome }}</option>
                {% endfor %}
            </select>
            <label for="rodada_final">Rodada Final: </label>
            <select name="rodada_final" id="rodada_final" onchange="mudarRodadaFinal(value)">
                {% for rodada in rodadas %}
                    <option value="{{ rodada.num }}" {% if forloop.last %}selected{% endif %}>{{ rodada.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="radios" class="radio-container">
            {% for grupo in grupos %}
            <label>
                <input type="radio" name="grupo" value={{ grupo.id }} onclick="chamarGrupo('{{grupo.id}}')">
                <span>{{ grupo }}</span>
            </label>
            {% empty %}
                Você não faz parte de nenhum grupo para este campeonato
            {% endfor %}
        </div>
        <div id="checkboxes" class="checkbox-container">
            {% for usuario in usuarios %}
                <label>
                    <input type="checkbox" id="{{ usuario }}Check" name="usuarios" value="{{ usuario }}" onclick="modificarUsuario('{{usuario}}')">
                    <span>{{ usuario }}</span>
                </label>
            {% endfor %}
        </div>
        <canvas id="grafico"></canvas>
    </div>
{% endblock %}

{% block bodyMobile %}
    {% include "palpites/blocos_auxiliares/auxiliar_home.html" %}
{% endblock %}