{% extends "palpites/layout.html" %}
{% load static %}
{% load user_agents %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <script>
        const idPartida = {{ partida.id }}
    </script>
    {% if request|is_pc %}
        <link rel="stylesheet" href="{% static 'styles/partida_pc.css' %}?v=2.4">
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/partida_mobile.css' %}?v=1.1">
        <script type="text/javascript" src="{% static 'scripts/outrosJogos.js' %}?v=1.0"></script>
        <script>
            var anterior = "{{ anterior }}";
            var proxima = "{{ proxima }}";
            var time = "{{ time }}";
        </script>
    {% endif %}
    <script type="text/javascript" src="{% static 'scripts/editarPalpite.js' %}?v=1.0"></script>
    <script type="text/javascript" src="{% static 'scripts/mudarVisualizacaoPartida.js' %}?v=1.0"></script>
{% endblock %}

{% block bodyPC %}
    {% include "palpites/blocos_auxiliares/auxiliar_modificar_palpite_partida.html" %}
    <div class="partida">
        {% if anterior != None %}
            {% if variacao != 0 %}
                <a href="{% url 'partida_variacao' id=anterior variacao=variacao %}"><button type="button" class="arrow-button left-arrow">&#8592;</button></a>
            {% else %}
                <a href="{% url 'partida' id=anterior %}"><button type="button" class="arrow-button left-arrow">&#8592;</button></a>
            {% endif %}
        {% else %}
            <span></span>
        {% endif %}
        <div class="round">
            <a href="{% url 'edicao' campeonato=partida.Rodada.edicao_campeonato.campeonato.id edicao=partida.Rodada.edicao_campeonato.num_edicao %}">{{ partida.Rodada.edicao_campeonato }}</a>
             - 
            <a href="{% url 'rodada' campeonato=partida.Rodada.edicao_campeonato.campeonato.id edicao=partida.Rodada.edicao_campeonato.num_edicao rodada=partida.Rodada.num %}">{{ partida.Rodada.nome }}</a>
        </div>
        <a href="{% url 'show_team' id=partida.Mandante.id %}" title="{{ partida.Mandante.Nome }}">    
            <img class="escudo" src="/{{ partida.Mandante.escudo }}" alt="escudo mandante">
        </a>
        {% if partida.golsMandante != -1 %}
            <span class="texto">{{ partida.golsMandante }}</span>
        {% else %}
            <span></span>
        {% endif %}
        {% if jogoComecou %}
            {% if user.is_staff %}
                <div class="editarResultado">
                    <img src="{% static 'icons/edit.svg' %}" alt="Editar Resultado" title="Editar Resultado"
                        onclick="showResultado(this)"
                        data-gols-mandante="{{ partida.golsMandante }}"
                        data-gols-visitante="{{ partida.golsVisitante }}">
                </div>
            {% else %}
                <span class="texto">X</span>
            {% endif %}
        {% else %}
            <div class="editarPalpite"><img src="{% static 'icons/edit.svg' %}" alt="Editar Palpite" title="Editar Palpite"  onclick="showPalpite()"></div>
        {% endif %}
        {% if partida.golsVisitante != -1 %}
            <span class="texto">{{ partida.golsVisitante }}</span>
        {% else %}
            <span></span>
        {% endif %}
        <a href="{% url 'show_team' id=partida.Visitante.id %}" title="{{ partida.Visitante.Nome }}">    
            <img class="escudo" src="/{{ partida.Visitante.escudo }}" alt="escudo visitante">
        </a>
        {% if proxima != None %}
            {% if variacao != 0 %}
                <a href="{% url 'partida_variacao' id=proxima variacao=variacao %}"><button type="button" class="arrow-button right-arrow">&#8594;</button></a>
            {% else %}
                <a href="{% url 'partida' id=proxima %}"><button type="button" class="arrow-button right-arrow">&#8594;</button></a>
            {% endif %}        
        {% else %}
            <span></span>
        {% endif %}
        <div class="date">{{ partida.dia|date:"d/m/Y H:i:s" }}</div>
    </div>
    {% include "palpites/blocos_auxiliares/auxiliar_palpites_partida.html" %}
{% endblock %}

{% block bodyMobile %}
    {% include "palpites/blocos_auxiliares/auxiliar_modificar_palpite_partida.html" %}
    <div class="partida">
        <div class="round">
            <a href="{% url 'edicao' campeonato=partida.Rodada.edicao_campeonato.campeonato.id edicao=partida.Rodada.edicao_campeonato.num_edicao %}">{{ partida.Rodada.edicao_campeonato }}</a>
             - 
            <a href="{% url 'rodada' campeonato=partida.Rodada.edicao_campeonato.campeonato.id edicao=partida.Rodada.edicao_campeonato.num_edicao rodada=partida.Rodada.num %}">{{ partida.Rodada.nome }}</a>
        </div>
        <a href="{% url 'show_team' id=partida.Mandante.id %}" title="{{ partida.Mandante.Nome }}">    
            <img class="escudo" src="/{{ partida.Mandante.escudo }}" alt="escudo mandante">
        </a>
        {% if partida.golsMandante != -1 %}
            <span class="texto">{{ partida.golsMandante }}</span>
        {% else %}
            <span></span>
        {% endif %}
        {% if jogoComecou %}
            {% if user.is_staff %}
                <div class="editarResultado">
                    <img src="{% static 'icons/edit.svg' %}" alt="Editar Resultado" title="Editar Resultado"
                        onclick="showResultado(this)"
                        data-gols-mandante="{{ partida.golsMandante }}"
                        data-gols-visitante="{{ partida.golsVisitante }}">
                </div>
            {% else %}
                <span class="texto">X</span>
            {% endif %}
        {% else %}
            <div class="editarPalpite"><img src="{% static 'icons/edit.svg' %}" alt="Editar Palpite" title="Editar Palpite"  onclick="showPalpite()"></div>
        {% endif %}
        {% if partida.golsVisitante != -1 %}
            <span class="texto">{{ partida.golsVisitante }}</span>
        {% else %}
            <span></span>
        {% endif %}
        <a href="{% url 'show_team' id=partida.Visitante.id %}" title="{{ partida.Visitante.Nome }}">    
            <img class="escudo" src="/{{ partida.Visitante.escudo }}" alt="escudo visitante">
        </a>
        <div class="date">{{ partida.dia|date:"d/m/Y H:i:s" }}</div>
    </div>
    {% include "palpites/blocos_auxiliares/auxiliar_palpites_partida.html" %}
{% endblock %}