<div class="header">
    {% if anterior != None %}
        <a href="{% url 'rodada' campeonato=anterior.edicao_campeonato.campeonato.id edicao=edicao.num_edicao rodada=anterior.num %}"><button type="button" class="arrow-button left-arrow">&#8592;</button></a>
    {% else %}
        <span></span>
    {% endif %}
        <h2><a href="{% url 'edicao' campeonato=rodada.edicao_campeonato.campeonato.id edicao=edicao.num_edicao %}">{{ rodada.edicao_campeonato }}</a> - {{ rodada.nome }}</h2>
    {% if proxima != None %}
        <a href="{% url 'rodada' campeonato=proxima.edicao_campeonato.campeonato.id edicao=edicao.num_edicao rodada=proxima.num %}"><button type="button" class="arrow-button right-arrow">&#8594;</button></a>
    {% else %}
        <span></span>
    {% endif %}   
</div>
{% for partida in partidas %}
    <div class="partida">
        <a href="{% url 'show_team' id=partida.Mandante.id %}">    
            <img class="escudo" src="/{{ partida.Mandante.escudo }}" alt="escudo mandante">
        </a>
        {% if partida.golsMandante != -1 %}
            <span class="texto">{{ partida.golsMandante }}</span>
        {% else %}
            <span></span>
        {% endif %}
        <span class="texto">X</span>
        {% if partida.golsVisitante != -1 %}
            <span class="texto">{{ partida.golsVisitante }}</span>
        {% else %}
            <span></span>
        {% endif %}
        <a href="{% url 'show_team' id=partida.Visitante.id %}">    
            <img class="escudo" src="/{{ partida.Visitante.escudo }}" alt="escudo visitante">
        </a>
        <div class="date">{{ partida.dia|date:"d/m/Y H:i:s" }}</div>
    </div>
{% endfor %}