<img src="../{{ time.escudo }}" alt="escudo" class="escudo">
<h1>{{ time.Nome }}</h1>
<hr width="80%">
{% if fas|length > 0 %}
    <div class="fas">
        <h1>Torcedores</h1>
        {% for torcedor in fas %}
            <a href="{%  url 'userView' id=torcedor.id %}">
                <img src="../{{ torcedor.profile_image.url }}" alt="perfil do {{ torcedor.username }}" class="perfil">
                {{ torcedor.username }}
            </a>
        {% endfor %}
    </div>
    <hr width="80%">
{% endif %}
{% if temJogo %}
    <h1>Partidas</h1>
    {% for edicao_campeonato, partidas in jogos.items %}
        <div class="partidas">
            <input type="checkbox" id="edicao_{{ edicao_campeonato.id }}" class="checkbox-spoiler">
            <label for="edicao_{{ edicao_campeonato.id }}">
                {{ edicao_campeonato }}<span class="indicator"></span>
            </label>
            <div class="content-spoiler jogos_checkbox">
                {% for jogo in partidas %}
                    <a href="{% url 'partida_variacao' id=jogo.id variacao=time.id %}">
                        <img class="escudo" src="../{{ jogo.Mandante.escudo }}" alt="escudo mandante">
                        <span class="texto">
                            {% if jogo.golsMandante > -1 %}{{ jogo.golsMandante }}{% endif %}
                            X 
                            {% if jogo.golsVisitante > -1 %}{{ jogo.golsVisitante }}{% endif %}
                        </span>
                        <img class="escudo" src="../{{ jogo.Visitante.escudo }}" alt="escudo visitante">
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if temAcerto %}
    <hr width="80%">
    <h1>Ranking dos usuários</h1>
    <table class="ranking">
        <thead>
            <th>Usuário</th>
            <th>% Pepe</th>
            <th>Média Dif. Gols</th>
            <th>Número de Jogos Palpitados</th>
        </thead>
        <tbody>
            {% for usuario, id, porcentagemP, difGols, numJogos in acertos %}
                <tr>
                    <td><a href="{%  url 'userView' id=id %}">{{ usuario }}</a></td>
                    <td>{{ porcentagemP|floatformat:2 }}</td>
                    <td>{{ difGols|floatformat:2 }}</td>
                    <td>{{ numJogos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}