<div class="info">
    <p>O site é administrado por um único usuário, seu código pode ser visto neste <a href="https://github.com/ppinheirosiqueira/Brasileirao">link</a>.</p>
    <p>As pontuações que você vê em uma partida seguem a contagem da Pontuação:</p>
    <h1>Pontuação:</h1>
    <ul>
        <li>Acertou o número de gols do mandante: <b>1 ponto</b></li>
        <li>Acertou o número de gols do visitante: <b>1 ponto</b></li>
        <li>Acertou quem venceu ou empatou: <b>1 ponto</b></li>
    </ul>

    <p>
        Essa pontuação pode acabar levando a empates. Por causa disso foi pensado um critério de desempate.
        O critério leva em consideração a diferença de gols do palpite em relação ao resultado real.
    </p>
    
    <p>Vamos imaginar um jogo que acabe 4x2, onde o primeiro usuário palpitou 3x1 e o segundo usuário palpitou 2x0.</p>

    <center><img src="media\info\JogoExemplo.png" alt="Jogo Exemplo"></center>
    
    <p>Os dois usuários fizeram 1 único ponto no Padrão, pois ambos <b>só acertaram quem venceu no jogo.</b></p>
    <p>No entanto, é perceptível que o primeiro usuário chegou muito mais próximo do resultado real que o segundo usuário.</p>
    <p>Por isso, a diferença de gols é utilizado como critério de desempate, onde quem tiver a menor diferença de gols ficará a frente dos demais.</p>

    <center><img src="media\info\RankingExemplo.png" alt="Ranking Exemplo"></center>
    
</div>